/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Georgia', serif;
    background-color: #f7f8fa;
    color: #333;
}

header .container, main {
    width: 90%;
    max-width: 120rem; 
    margin: 0 auto;
}

main {
    padding-top: 5rem;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin-bottom: 1rem; 
}

header h1 {
    font-size: 5rem; 
}

header h2 {
    font-size: 3rem;
    font-weight: 300;
}

header {
    background-color: #2ecc71;
    color: white;
    padding: 2rem 0; 
    text-align: center;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1); 
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1.5rem 3rem; 
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem; 
    transition: background-color 0.3s;
    background-color: #2ecc71;
    cursor: pointer;
    border: none;
    width: 35rem;
    text-align: center;
}

.button:hover {
    background-color: #27ae60;
}

#action-section {
    text-align: center;
    margin-top: 5rem;
}

#action-section h1 {
    font-size: 4rem;
    margin-bottom: 30px;
}

.app-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}